a {
  level: 1;
  ---\ b: {
    level: 2;
    ---\ c: {
      level: 3;
      ---\ d: {
        level: 4;
        ---\ e: {
          level: 5;
          ---\ f: {
            level: 6;
            ---\ g: {
              level: 7;
              ---\ h: {
                level: 8;
                ---\ i: {
                  level: 9;
                  ---\ j: {
                    level: 10;
                    ---\ k: {
                      level: 11;
                      ---\ l: {
                        level: 12;
                        ---\ m: {
                          level: 13;
                          ---\ n: {
                            level: 14;
                            ---\ o: {
                              level: 15;
                              ---\ p: {
                                level: 16;
                                ---\ q: {
                                  level: 17;
                                  ---\ r: {
                                    level: 18;
                                    ---\ s: {
                                      level: 19;
                                      ---\ t: {
                                        level: 20;
                                        ---\ u: {
                                          level: 21;
                                          ---\ v: {
                                            level: 22;
                                            ---\ w: {
                                              level: 23;
                                              ---\ x: {
                                                level: 24;
                                                ---\ y: {
                                                  level: 25;
                                                  ---\ z: {
                                                    level: 26;
                                                  };
                                                };
                                              };
                                            };
                                          };
                                        };
                                      };
                                    };
                                  };
                                };
                              };
                            };
                          };
                        };
                      };
                    };
                  };
                };
              };
            };
          };
        };
      };
    };
  };
}